svg{
    width: 400px;
    height: 400px;
    background-color: white;
    stroke: black
}

#red_bar_chart{
    fill: red;
}

#blue_bar_chart{
    fill: blue;
}

#path_line_chart{
    fill: transparent;
}